<template>
  <q-page
    class="window-height window-width row justify-center items-center"
  >

      <div class="">
        <q-card  class="q-pa-md q-ma-none bg-white shadow-10" style="width:420px;">

          <!-- Logo & App Name -->
          <q-card-section class="q-mt-md q-mb-xl">
            <div class="row justify-center items-center">
              <img
                alt="App logo"
                width="130px"
                src="~assets/quasar-logo-full.svg"
              >
            </div>
          </q-card-section>
          <!-- END Logo & App Name -->

          <!-- Login Form -->
          <q-card-section class="text-grey-8">
            <q-form class="q-gutter-md">
              <q-input  square filled clearable v-model="email" type="email" label="Email">
                <template v-slot:prepend>
                  <q-icon name="email" color="primary"/>
                </template>
              </q-input>
              <q-input  square filled clearable v-model="password"  type="password" label="Password">
                <template v-slot:prepend>
                  <q-icon name="lock" color="primary"/>
                </template>
              </q-input>
            </q-form>
          </q-card-section>
          <!-- END Login Form -->

          <!-- Sign up and Forgot Password Actions -->
          <q-card-actions>
            <div class="row full-width items-center">
              <div class="col-12 text-center q-mb-xl">
                <q-btn size="md" color="primary" label="Sign In" class="q-pa-xs q-pl-xl q-pr-xl" @click="login" />
              </div>
              <div class="col-6">
                <p class="text-left text-primary" style="font-size:1.2em">Sign up</p>
              </div>
              <div class="col-6">
                <p class="text-right text-primary" style="font-size: 1.2em">Forgot password</p>
              </div>
            </div>
          </q-card-actions>
          <!-- END Sign up and Forgot Password Actions -->

        </q-card>
      </div>
  </q-page>
</template>

<script>
export default {
  name: 'Login',
  data () {
    return {
      email: '',
      password: ''
    }
  },
  methods: {
    login () {
      const formData = {
        email: this.email,
        password: this.password
      }
      this.$axios.post('login', formData)
        .then(res => {
          console.log(res.data)
          localStorage.setItem('token', res.data.token)
          this.$router.push('/')
        })
        .catch(e => {
          console.log(e)
          console.log(e.response)
        })
    }
  }
}
</script>

<style>

</style>
