<template>
  <q-layout view="lhh lpR fFf">

    <!-- Header - Top Bar -->
    <q-header elevated>
      <q-toolbar style="height:70px">
        <q-btn dense flat round icon="menu" @click="drawer = !drawer" />

        <q-toolbar-title>
          <q-input color="black" standout dark dense rounded style="width:250px;" label="Search"  >
            <template v-slot:append>
              <q-icon name="search" color="white"/>
            </template>
          </q-input>
        </q-toolbar-title>
        <div class="user q-mr-md">John Doe</div>
        <q-avatar size="50px">
          <img src="https://avatarfiles.alphacoders.com/495/thumb-49573.jpg">
        </q-avatar>
      </q-toolbar>
    </q-header>
    <!-- END Header - Top Bar -->

    <!-- Drawer - Side Menu -->
    <q-drawer
      v-model="drawer"
      show-if-above
      :width="250"
      :breakpoint="400"
      bordered
      content-class="bg-white"
    >
      <q-scroll-area style="height: calc(100% - 200px); margin-top: 200px;">
        <q-list padding >
          <q-item clickable v-ripple to="/" exact>
            <q-item-section avatar>
              <q-icon name="inbox" />
            </q-item-section>

            <q-item-section>
              Dashboard
            </q-item-section>
          </q-item>

          <q-item clickable v-ripple to="/users" exact>
            <q-item-section avatar>
              <q-icon name="people" />
            </q-item-section>

            <q-item-section>
              Users
            </q-item-section>
          </q-item>

          <q-item clickable v-ripple to="/customers" exact>
            <q-item-section avatar>
              <q-icon name="shopping_cart" />
            </q-item-section>

            <q-item-section>
              Customers
            </q-item-section>
          </q-item>

          <q-item clickable v-ripple>
            <q-item-section avatar>
              <q-icon name="settings" />
            </q-item-section>

            <q-item-section>
              Settings
            </q-item-section>
          </q-item>

        </q-list>
      </q-scroll-area>

      <div class="absolute-top" style="height: 150px;">
        <div class="absolute-bottom bg-transparent">
          <img
            alt="App logo"
            width="130px"
            src="~assets/quasar-logo-full.svg"
            style="display: block; margin:auto"
          >
        </div>
      </div>
    </q-drawer>
    <!-- END Drawer - Side Menu -->

    <q-page-container class="bg-blue-grey-1">
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: 'MainLayout',
  data () {
    return {
      drawer: false
    }
  }
}
</script>

<style>
.q-item {
  font-size:1.2em;
  margin:10px;
  font-family: system-ui;
  font-weight: 400;
  color: #5a5a5a !important;
}
.q-item .q-icon {
  background:#e4e4e485;
  padding:1em;
  border-radius: 50%
}
.user {
  font-family: system-ui;
  font-weight: 400;
  font-size:1.2em;
}
</style>
